install/
log/
build/

# Python outputs
core
__pycache__

# Ignore generated docs
*.dox
*.wikidoc

# eclipse stuff
.project
.cproject

# qcreator stuff
CMakeLists.txt.user

srv/_*.py
*.pcd
*.pyc
qtcreator-*
*.user

*~

# Emacs
.#*

# Colcon custom files
COLCON_IGNORE
AMENT_IGNORE



# The Backup Image and Yolo /Runs
echo "*.img.gz" >> .gitignore
echo "runs/" >> .gitignore
